html {
   font-size: 14px;
}

body {
   background-color: #f9f9f9;
}

.container-fluid {
   padding-left: 0px;
   padding-right: 0px;
}

.navbar {
   background-color: #34495e;
} 

i {
   padding-right: 5px;
}

.box {
   background-color: white;
   border: 2px solid #999999;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

#registerForm {
   display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   html {
      font-size: 16px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 
