body {
    color: #007bff;;
}

.dot {
    margin-top: 10vw;
    height: 75vw;
    width: 75vw;
    border: 5px solid #007bff;;
    border-radius: 50%;
    display: inline-block;
}

.code {
    position: relative; 
    top: 12vw; 
    font-size: 30vw;
}

h3,
a {
    margin-top: 2vw;
}

hr {
    width: 20%;
    border-top: 3px solid #007bff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dot {
        margin-top: 5vw;
        height: 50vw;
        width: 50vw;
    }
    
    .code {
        top: 7vw;
        font-size: 22vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .dot {
        height: 25vw;
        width: 25vw;
    }
    
    .code {
        top: 5vw;
        font-size: 10vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 
